@{
    ViewData["Title"] = "Không có quyền";
    ViewData["Description"] = "Trang thông báo không có quyền truy cập chức năng";
    ViewData["Keywords"] = "No Access, không có quyền";
    ViewData["Author"] = "Nhóm 14, Trường Đại học Mở Hà Nội, Lập trình web nâng cao";
    ViewData["Robots"] = "noindex, nofollow"; 

    Layout = "_SimpleLayout";
}

<h2>Bạn không có quyền truy cập trang web</h2>